<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>playDate</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string></string>
	<key>NSAppleMusicUsageDescription</key>
	<string>Our app does not request this permission or utilize this functionality but it is included in our info.plist since our app utilizes the react-native-permissions library, which references this permission in its code.</string>
	<key>NSCameraUsageDescription</key>
	<string>Our app want to use your camera.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to record audio.</string>
	<key>NSContactsUsageDescription</key>
	<string>Our app needs this permission to check who's using this app.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string></string>

	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>Zocial.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>IonIcons.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Font_Awesome5_Regular.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>Feather.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Entypo.ttf</string>
		<string>AntDesign.ttf</string>
		<string>SFPRODISPLAYBLACKITALIC.OTF</string>
		<string>SFPRODISPLAYBOLD.OTF</string>
		<string>SFPRODISPLAYHEAVYITALIC.OTF</string>
		<string>SFPRODISPLAYLIGHTITALIC.OTF</string>
		<string>SFPRODISPLAYMEDIUM.OTF</string>
		<string>SFPRODISPLAYREGULAR.OTF</string>
		<string>SFPRODISPLAYSEMIBOLDITALIC.OTF</string>
		<string>SFPRODISPLAYTHINITALIC.OTF</string>
		<string>SFPRODISPLAYULTRALIGHTITALIC.OTF</string>
		<string>SF-Compact-Display-Black.ttf</string>
		<string>SF-Compact-Display-Bold.ttf</string>
		<string>SF-Compact-Display-Heavy.ttf</string>
		<string>SF-Compact-Display-Light.ttf</string>
		<string>SF-Compact-Display-Medium.ttf</string>
		<string>SF-Compact-Display-Regular.ttf</string>
		<string>SF-Compact-Display-Semibold.ttf</string>
		<string>SF-Compact-Display-Thin.ttf</string>
		<string>SF-Compact-Display-Ultralight.ttf</string>
		<string>SF-Compact-Italic.ttf</string>
		<string>SF-Compact-Rounded-Black.ttf</string>
		<string>SF-Compact-Rounded-Bold.ttf</string>
		<string>SF-Compact-Rounded-Heavy.ttf</string>
		<string>SF-Compact-Rounded-Light.ttf</string>
		<string>SF-Compact-Rounded-Medium.ttf</string>
		<string>SF-Compact-Rounded-Regular.ttf</string>
		<string>SF-Compact-Rounded-Semibold.ttf</string>
		<string>SF-Compact-Rounded-Thin.ttf</string>
		<string>SF-Compact-Rounded-Ultralight.ttf</string>
		<string>SF-Compact-Text-Black.ttf</string>
		<string>SF-Compact-Text-BlackItalic.ttf</string>
		<string>SF-Compact-Text-Bold.ttf</string>
		<string>SF-Compact-Text-BoldItalic.ttf</string>
		<string>SF-Compact-Text-Heavy.ttf</string>
		<string>SF-Compact-Text-HeavyItalic.ttf</string>
		<string>SF-Compact-Text-Light.ttf</string>
		<string>SF-Compact-Text-LightItalic.ttf</string>
		<string>SF-Compact-Text-Medium.ttf</string>
		<string>SF-Compact-Text-MediumItalic.ttf</string>
		<string>SF-Compact-Text-Regular.ttf</string>
		<string>SF-Compact-Text-RegularItalic.ttf</string>
		<string>SF-Compact-Text-Semibold.ttf</string>
		<string>SF-Compact-Text-SemiboldItalic.ttf</string>
		<string>SF-Compact-Text-Thin.ttf</string>
		<string>SF-Compact-Text-ThinItalic.ttf</string>
		<string>SF-Compact-Text-Ultralight.ttf</string>
		<string>SF-Compact-Text-UltralightItalic.ttf</string>
		<string>SF-Compact.ttf</string>
		<string>SFCompact-Italic.ttf</string>
		<string>SFCompactDisplay-Black.ttf</string>
		<string>SFCompactDisplay-Bold.ttf</string>
		<string>SFCompactDisplay-Heavy.ttf</string>
		<string>SFCompactDisplay-Light.ttf</string>
		<string>SFCompactDisplay-Medium.ttf</string>
		<string>SFCompactDisplay-Regular.ttf</string>
		<string>SFCompactDisplay-Semibold.ttf</string>
		<string>SFCompactDisplay-Thin.ttf</string>
		<string>SFCompactDisplay-Ultralight.ttf</string>
		<string>SFCompactRounded-Black.ttf</string>
		<string>SFCompactRounded-Bold.ttf</string>
		<string>SFCompactRounded-Heavy.ttf</string>
		<string>SFCompactRounded-Light.ttf</string>
		<string>SFCompactRounded-Medium.ttf</string>
		<string>SFCompactRounded-Regular.ttf</string>
		<string>SFCompactRounded-Semibold.ttf</string>
		<string>SFCompactRounded-Thin.ttf</string>
		<string>SFCompactRounded-Ultralight.ttf</string>
		<string>SFCompactText-Black.ttf</string>
		<string>SFCompactText-BlackItalic.ttf</string>
		<string>SFCompactText-Bold.ttf</string>
		<string>SFCompactText-BoldItalic.ttf</string>
		<string>SFCompactText-Heavy.ttf</string>
		<string>SFCompactText-HeavyItalic.ttf</string>
		<string>SFCompactText-Light.ttf</string>
		<string>SFCompactText-LightItalic.ttf</string>
		<string>SFCompactText-Medium.ttf</string>
		<string>SFCompactText-MediumItalic.ttf</string>
		<string>SFCompactText-Regular.ttf</string>
		<string>SFCompactText-RegularItalic.ttf</string>
		<string>SFCompactText-Semibold.ttf</string>
		<string>SFCompactText-SemiboldItalic.ttf</string>
		<string>SFCompactText-Thin.ttf</string>
		<string>SFCompactText-ThinItalic.ttf</string>
		<string>SFCompactText-Ultralight.ttf</string>
		<string>SFCompactText-UltralightItalic.ttf</string>
	</array>
</dict>
</plist>
